@page "/"

<PageTitle>Properties Manager FL</PageTitle>
<div>
    <img class="house-image" src="images/DaisyPetsLandscape.jpg" />
</div>

<style>
    .house-image {
        position: fixed;
        width:100%;
        height: auto;
        bottom: 0;
    }

    .responsive {
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        width: 100%;
        height: auto;
        overflow-y: hidden;
    }
</style>




