@page "/"
@using DaisyPets.Core.Application.ViewModels;

@inject IConfiguration config

<PageTitle>Index</PageTitle>
@if(Pets is null)
{
    <LoadingData/>
}
else
{
    @foreach (var item in Pets)
    {
        <p>@item.Nome</p>
    }
}

@code {
    protected string? urlBaseAddress;
    protected IEnumerable<PetVM>? Pets { get; set; }
    protected string? petsEndpoint;
    protected override async Task OnInitializedAsync()
    {
        urlBaseAddress = config["ApiSettings:UrlBase"];
        petsEndpoint = $"{urlBaseAddress}/Pets/AllPetsVM";
        Pets = await GetAllPets();
    }

    private async Task<IEnumerable<PetVM>?> GetAllPets()
    {

        using (HttpClient httpClient = new HttpClient())
        {
            try
            {
                var response = await httpClient.GetFromJsonAsync<IEnumerable<PetVM>>(petsEndpoint);
                return response;
            }
            catch (System.Net.Http.HttpRequestException exa)
            {
                var msg = exa.Message;
                return Enumerable.Empty<PetVM>();
            }
            catch (Exception ex)
            {
                var msg = ex.Message;
                return Enumerable.Empty<PetVM>();
            }
        }
    }
}




