@page "/"

<PageTitle>Properties Manager FL</PageTitle>
<div>
    <img class="intro-image" src="images/CatAndDogs2.jpg" />
</div>

<style>
    .intro-image {
        position: fixed;
        width:100%;
        height: 95%;
        bottom: 0;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }

    .responsive {
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        width: 75%;
        height: 75%;
        overflow-y: hidden;
    }
</style>




