<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="ApiBaseAddress" value="https://localhost:7161/api"/>
		<add key="DiasAvisoVacinas" value="60"/>
		<add key="DiasAvisoDesparasitantes" value="60"/>
		<add key="ApiKey" value="luix_pets_IlTevUM/z0ey3NwCV/unWg=="/>
	</appSettings>
</configuration>