@using Microsoft.Extensions.Localization;

<div class="row mt-2">
    <div class="form-group">
        <SfTextBox Enabled="false"
                   Placeholder="@placeHolderCaption"
                   CssClass="e-field  e-corner"
                   FloatLabelType="@FloatLabelType.Always"
        @bind-Value="@PetName">
        </SfTextBox>
    </div>
</div>

@code {
    [Inject] public IStringLocalizer<App>? L { get; set; }
    [Parameter] public string? PetName { get; set; }

    private string placeHolderCaption;
    protected override void OnInitialized()
    {
        placeHolderCaption = $"{L["TituloNome"]} (Pet)";
    }
}
